{% extends "base.html" %}
{% load static %}
<style xmlns="http://www.w3.org/1999/html">
</style>
{% block page_title %}
dashboard
{% endblock %}

{% block content %}
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title m-b-0 text-center pt-3" style="font-size: 30px;">About Us</h4>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <p class="pt-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum
                                laudantium esse illo
                                maiores dolore soluta itaque omnis nesciunt aliquam nemo qui debitis aut, totam magni
                                facilis deleniti vel sunt, numquam hic nostrum, in saepe explicabo. Mollitia
                                consectetur, ad
                                at cumque officia harum molestiae! Dolorum id, perspiciatis necessitatibus, nemo,
                                architecto
                                a omnis aspernatur reiciendis mollitia recusandae alias est esse itaque quaerat sint
                                excepturi nam explicabo reprehenderit accusamus suscipit veritatis iusto repellendus
                                adipisci. Nihil sapiente eum quidem, quia inventore officia id, praesentium neque ut
                                voluptatum aspernatur, consectetur ipsum impedit. Officia, temporibus. Aliquam
                                laudantium
                                vero ipsam magni dolor fugit consectetur vel voluptatum cum? Eos, nobis recusandae
                                exercitationem, aliquid sapiente incidunt, soluta possimus enim doloremque commodi quod
                                modi
                                iste molestiae autem. Vero atque harum quo illum ipsa consectetur minus at tempora
                                molestiae
                                accusamus fugit neque, praesentium aspernatur. Laudantium hic, unde cum veritatis
                                perferendis, quidem amet eaque perspiciatis eligendi, distinctio atque mollitia? Eaque
                                fugiat modi officiis voluptatum earum dolore assumenda vel nesciunt commodi doloremque
                                recusandae, similique perferendis ratione, ab illum consectetur temporibus esse
                                suscipit,
                                quaerat labore facere dolorum enim? Illo est dolores aut impedit repellendus, ipsa
                                expedita
                                sint dolorem, hic nulla voluptatibus! Beatae, quia dolorem repudiandae sapiente debitis
                                ad
                                quo modi harum quae, eum incidunt.</p>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- row -->

</div>

{% endblock %}