{% extends "base.html" %}
{% load static %}
<style xmlns="http://www.w3.org/1999/html">
</style>
{% block page_title %}
dashboard
{% endblock %}

{% block content %}
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title m-b-0" style="color: green; font-weight: bolder;">Recent inquries</h1>
                </div>
                <div id="reply-success">
                    <p>Reply sent successfully!</p>
                </div>
            </div>

        </div>

    </div>
    <!-- row -->

</div>

{% endblock %}